<div class="container-fluid">
	<div class="row">
		<main class="col-xs-6">
			<h2><%= @static_page.title %></h2>
			<%= @static_page.content %>
			<%= link_to 'Edit', edit_static_page_path(@static_page) %> |
<%= link_to 'Back', static_pages_path %>
		</main>
		<aside>
			Содержимое сайдбара
		</aside>
	</div>
</div>



