<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

	<h1>Поступила новая заявка на курс:</h1>

	<p>Курс: <%= @course %></p>
	<p>Имя отправителя: <%= @name %></p>
	<p>Телефон: <%= @phone %></p>
	<p>Email отправителя: <%= @email %></p>
    
  </body>
</html>