	<div class="row">
		<div class="col-xs-12">
			<p id="notice"><%= notice %></p>
		</div>
	</div>
	<div class="row">
		<main class="col-xs-8">
			<h3>Акция опубликована <%= l @hot_offer.created_at, format: :short %></h3>
			<%= raw @hot_offer.content %>
		</main>
		<aside class="col-xs-4">
		</aside>
	</div>

<% content_for :title, "Акция" %>