	<div class="row">
		<div class="col-xs-12">
			<p id="notice"><%= notice %></p>
		</div>
	</div>
	<div class="row">
		<main class="col-xs-8">
			<h3>Новость опубликована <%= l @news.created_at, format: :long %></h3>
			<%= raw @news.content %>
		</main>
		<aside class="col-xs-4">
		</aside>
	</div>

<% content_for :title, "Новость" %>