<h1>Редактирование отзыва</h1>

<%= render 'form' %>

<%= link_to 'На страницу на сайте', @feedback %> |
<%= link_to 'На главную управления', root_control_path %> |
<%= link_to 'На управление отзывами', "#{list_control_path}?content_type=feedbacks" %>
