<% @feedbacks.each do |feedback| %> 
  <div class="well">
    <h2 class="feedbacks"><%= feedback.name %></h2>
    <p class="feedbacks"><%= feedback.content %></p>
    <div class="feedbacks meta"><span class="label label-primary"><%= feedback.course != nil ? feedback.course.title : 'трудоустройство' %></span> <span class="label label-info"><%= l feedback.created_at, format: :simpledate %></span></div>
  </div>
<% end %>

<% content_for :title, 'Отзывы выпускников центра' %>
<% content_for :subtitle, 'мнения наших клиентов' %>