<h1 >Написать отзыв об учебно-кадровом центре &laquo;Карьера&raquo;</h1>

<p>Мы стремимся постоянно поддерживать и улучшать качество услуг, поэтому отзывы важны для нас. Напишите о программе курса, качестве оказанной услуги, о преподавателях, о результатах: что Вам понравилось и что можно было бы сделать лучше.</p>

<%= render 'form' %>
