<h1 >Написать отзыв об учебно-кадровом центре &laquo;Карьера&raquo;</h1>

<p>Нам важно постоянно поддерживать и улучшать качество обучения и ваш отзыв может помочь нам в этом. Напишете о том, каков был процесс обучения, что вам понравилось и что можно было бы сделать лучше. Вы можете написать, например, о программе пройденного/проходимого курса, о преподавателях, о резултатах и т.д.</p>

<%= render 'form' %>

<%= link_to 'Back', feedbacks_path %>
