<h3 class="feedbacks"><%= ( feedbacks_are_own ) ? 'Отзывы выпускников о курсе' : 'Отзывы выпускников о центре' %> </h3>
<% feedbacks.each do |feedback| %> 
	<h4 class="feedbacks"><%= feedback.name %><span> – <%= l feedback.created_at, format: :simpledate %></span></h4>
	<p class="feedbacks"><%= feedback.content %></p>
<% end %>