
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Курс <%= @course.title %> в Таганроге</h1>
      <%= @course.full_descr %>
    </div>
  </div>