main
  ul.nav
    margin-bottom: 20px
  h2, h3, h4, h5
    border-left: 5px solid black
    border-bottom: 5px solid black
    padding-left: 6px
    margin: 20px 0 20px -11px
    text-align: left
    &.panel-title
      border: none
  h2
    border-color: #ef4e3a
  h3
    border-color: #f0b841
  h4
    border-color: #4988ef
  h5
    border-color: white
  &.admin, .simple
    h2, h3, h4, h5
      border: 0px solid black
      text-align: center
  .panel-group
    >br
      display: none
      *line-height: 0
    .panel
      margin-top: 5px
      &:first-of-type
        margin-bottom: 0
    .panel-title a
      display: block
      width: 100%
    .panel-title a:after
      content: '▾ '
      float: right

  .tab-content > p
    display: none
    


