aside .video
  width: 100%

aside  
  margin-top: -17px
  h3
    overflow: hidden
    border-bottom: 5px solid black
    margin-bottom: 20px    
    span
      font-weight: 600 
      font-size: 24px
      padding: 10px
      cursor: pointer
      float: left
      &.active
        color: white
        cursor: default
  h3.yellow
    border-color: #f0b841
    span.active
      background-color: #f0b841

  h3.green
    border-color: #65cc33
    span.active
      background-color: #65cc33

  h3.magenta
    border-color: #8A6DE9
    span.active
      background-color: #8A6DE9


#social > div 
  text-align: center

#vk_groups
  margin-left: auto
  margin-right: auto

.switchable > div
  display: none
  overflow: hidden

.switchable > div:first-of-type      
  display: block   

/* courselist

.sidebar 
  margin-bottom: 20px
  .courselist_item
    margin: 0 0 20px
    p
      height: auto
      margin-bottom: 0
  .courselist_item__text
    height: auto
    font-size: 14px
    line-height: 19px
    padding-bottom: 0 
  .courselist_item__text-title
    font-weight: 600
    font-size: 18px
    line-height: 24px
    height: auto
    text-align: left
    &:hover
      font-weight: 600
      font-size: 18px
      line-height: 24px
      height: auto
  .courselist_item__date
    border-color: #4a87ef
    padding: 4px
    width: 91px
    *
      color: #4a87ef
      font-weight: 600
      font-size: 24px
  .newsblock_item
    margin-bottom: 20px
    span
      margin-bottom: 0
  .newsblock_item__text a
    font-size: 18px
    font-weight: 600
    line-height: 24px
  .more-link
    font-size: 15px

/* pads

@media (max-width: 991px) and (min-width: 768px)
  aside .courselist_item__text.col-xs-9 
    padding-left: 15px

/* mobile

@media (max-width: 767px)
  .sidebar
    .courselist_item__text-title
      text-align: left