<style>
h3 {
  text-align: center;
  text-transform: uppercase;
}
</style>

<div id="nextcourses">
  <h3>Ближайшие курсы</h3>
  <div class="list-group">
    <% @courses_next.each do |course| %>
      <a href="<%= course_path(course) %>"class="list-group-item">
        <%= course.title %><br>
        <small class="text-muted"><%= l course.start_date, format: :simpledate %></small>
      </a>
    <% end %>
  </div>
  <button type="button" class="btn btn-xs btn-default center-block">
    <%= link_to 'Все курсы...', { controller: 'courses', action: 'search' } %>
  </button>
</div>

<hr>
<h3>Видео о центре</h3>
<iframe src="https://www.youtube.com/embed/r_x9JZWr6hc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe><br><br>
<iframe src="https://www.youtube.com/embed/xMYWuXGE9n8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe><br><br>
<iframe src="https://www.youtube.com/embed/hx7ekhqbn_k?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>