<div class="panel panel-info">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a class="accordion-toggle" role="button" data-toggle="collapse-next">
        <%= @attributes[:heading] %>
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
          <%= @content %>
    </div>
  </div>
</div>